# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs
/backend/app/api/endpoints/__pycache__
/backend/app/api/__pycache__
/backend/app/core/__pycache__
/backend/app/schemas/__pycache__
/backend/app/services/__pycache__
/backend/app/__pycache__
