<div class="tree-container">
  <!-- Loading spinner -->
  <div *ngIf="isLoading()" class="loading-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <!-- Use cdk-tree with childrenAccessor (Angular 18+) -->
  <cdk-tree 
    [dataSource]="rootNodes" 
    [childrenAccessor]="childrenAccessor"
    [trackBy]="trackByNode"
    #tree>

    <!-- Nested tree node definition -->
    <cdk-nested-tree-node 
      *cdkTreeNodeDef="let node; when: hasChild"
      (expandedChange)="handleNodeExpansion($event, node)">
      
      <div class="mat-tree-node" [class]="getNodeClass(node)">
        <!-- Toggle button -->
        <button mat-icon-button 
                cdkTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>

        <mat-icon [class]="getNodeClass(node)">
          {{ getNodeIcon(node) }}
        </mat-icon>

        <span class="node-label">
          {{ node.name }}
        </span>
        
        <!-- Loading indicator -->
        @if (node.loading()) {
          <mat-spinner diameter="16"></mat-spinner>
        }
      </div>

      <!-- Children outlet - only renders when expanded -->
      @if (tree.isExpanded(node)) {
        <div class="tree-node-children">
          <ng-container cdkTreeNodeOutlet></ng-container>
        </div>
      }
    </cdk-nested-tree-node>

    <!-- Leaf nodes (files) -->
    <cdk-tree-node *cdkTreeNodeDef="let node">
      <div class="mat-tree-node leaf-node" [class]="getNodeClass(node)">
        <!-- Spacer to align with expandable nodes -->
        <button mat-icon-button disabled></button>

        <mat-icon [class]="getNodeClass(node)">{{ getNodeIcon(node) }}</mat-icon>

        <!-- Clickable file name -->
        <span class="node-label" (click)="onNodeClick(node)">
          {{ node.name }}
        </span>
      </div>
    </cdk-tree-node>

  </cdk-tree>
</div>
